<ion-header>

  <ion-navbar>
    <ion-title>{{ today | date }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <!-- {{ betfair_exchange_tennis_events$ | async | json }} -->

  <ion-list>
    <ion-item *ngFor="let item of betfair_exchange_tennis_events$ | async">
      {{ item.event.openDate | date : 'h:mm a' }} - {{ item.event.name }}
    </ion-item>
  </ion-list>

  <!-- <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
  <mat-panel-title>
  Self aware panel
  </mat-panel-title>
  <mat-panel-description>
  Currently I am {{panelOpenState ? 'open' : 'closed'}}
  </mat-panel-description>
  </mat-expansion-panel-header>
  <p>I'm visible because I am open</p>
  </mat-expansion-panel> -->

  <!-- <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list *ngIf="page == 'main'">
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION1' | translate }}</ion-label>
        <ion-toggle formControlName="option1"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION2' | translate }}</ion-label>
        <ion-input formControlName="option2"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION3' | translate }}</ion-label>
        <ion-select formControlName="option3">
          <ion-option value="1" checked="true">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
        </ion-select>
      </ion-item>

      <button ion-item [navPush]="subSettings" [navParams]="profileSettings">
        => {{ 'SETTINGS_PROFILE_BUTTON' | translate }}
      </button>
    </ion-list>

    <ion-list *ngIf="page == 'profile'">
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION4' | translate }}</ion-label>
        <ion-input formControlName="option4"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Betfair exchange:</ion-label>
        <ion-input formControlName="betfair_exchange"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION4' | translate }}</ion-label>
        <ion-input formControlName="option4"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION4' | translate }}</ion-label>
        <ion-input formControlName="option4"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION4' | translate }}</ion-label>
        <ion-input formControlName="option4"></ion-input>
      </ion-item>
    </ion-list>
  </form> -->

</ion-content>
